.header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background-color: white;
    flex-direction: column;
    height: 10vh; //component yerleştirince kaldır
    box-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
}